---
// Component Imports
import Base from "../layouts/Base.astro";
---

<Base title="About">
  <article class="py-16 space-y-4">
    <header class="pb-8">
      <h1>About</h1>
    </header>

    <h2>Okupter</h2>
    <p>
      For several years, <a href="https://segbedji.com/"
        >I have been very deep in the bubble of the WordPress ecosystem
      </a>. As a freelancer, then a site developer, then finally a full-time
      contributor. I still remain passionate about this CMS and its
      potentialities.
    </p>

    <p>
      But I also developed a great interest in subjects not directly related to
      it, like accessibility, web performance, best practices, etc..
    </p>

    <p>
      That's why I created <strong>Okupter</strong>, to share my experiences and
      learnings on these topics in an agnostic way.
    </p>

    <blockquote>
      The word Okupter comes from the ancient Greek <em>ōkúpteros</em> that means
      <strong>Swift-winged</strong>.
      <br />
      It kind of really fits in what I believe; which is that it possible to build
      fast, accessible and beautiful websites/platforms/products in respect with
      best practices and sustainibility.
    </blockquote>

    <h2>Privacy policy</h2>

    <p>
      This website uses <a href="https://splitbee.io">splitbee.io</a> as an analytics
      tool. This allows me to collect basic statistics on the number of visitors,
      the most viewed pages/articles, etc.
    </p>

    <p>
      To function, Splitbee adds a cookie named <code>sb_uid</code> to your browser
      for a period of 12 months.
    </p>

    <h3>Disable tracking</h3>

    <p>
      You can opt out of being tracked on the site by navigating to <strong
        ><a href="https://okupter.com/?dnt">https://okupter.com/?dnt</a>
      </strong>.
    </p>
  </article>
</Base>
