---
// Component Imports
import Base from "../layouts/Base.astro";
import HomeIcons from "../components/home/HomeIcons.astro";
import HomePosts from "../components/home/HomePosts.astro";
---

<Base isHomePage>
  <div class="space-y-12">
    <div class="space-y-4">
      <h1>Okupter</h1>
      <p>
        Okupter, from the ancient Greek <span class="font-bold text-primary"
          >ōkúpteros</span
        >, can be translated as <span class="italic">swift-winged</span>. The
        adjective is used to refer to something fast, sharp, or precise.
      </p>
      <p>
        This gives a good idea of the topics that will be covered on this site,
        including, but not limited to web, performance and accessibility on the
        web.
      </p>
    </div>

    <div class="space-y-4">
      <h2>Selected blog posts</h2>
      <div class="space-y-4">
        <HomePosts />
      </div>
    </div>
  </div>
</Base>
