---
// Component Imports
import Base from "../layouts/Base.astro";
import HomeIcons from "../components/home/HomeIcons.astro";
import HomePosts from "../components/home/HomePosts.astro";
---

<Base isHomePage>
  <div class="space-y-12">
    <div class="space-y-4">
      <h1>Okupter</h1>
      <p>Welcome to <span class="font-bold">Okupter</span>.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
        facilis vitae tenetur provident possimus consequatur cupiditate nisi
        nemo molestias doloremque dolores, id, excepturi sint, obcaecati eaque
        ea dolor reiciendis ut. Asperiores iusto eos voluptates reiciendis ex,
        ad iure excepturi sunt.
      </p>
      <div class="flex space-x-2">
        <HomeIcons />
      </div>
    </div>

    <div class="space-y-4">
      <h2>Selected blog posts</h2>
      <div class="space-y-4">
        <HomePosts />
      </div>
    </div>
  </div>
</Base>
