---
// Component Imports
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="mt-16 xl-container">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, velit.
    </h1>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, eligendi
      consectetur.
    </h2>
    <h3>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
      doloribus saepe excepturi ducimus soluta vel!
    </h3>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est!</h4>
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      consequatur?
    </h5>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita,
      nesciunt!
    </h6>
  </div>

  <div class="grid gap-4 py-32 mx-auto sm:grid-cols-3 xl-container">
    <div class="text-white bg-gray-900 palette">Gray 900</div>
    <div class="text-white bg-gray-800 palette">Gray 800</div>
    <div class="text-white bg-gray-700 palette">Gray 700</div>
  </div>
</Base>

<style>
  .palette {
    @apply h-36 w-96 font-bold text-[2rem] px-4;
  }
</style>
