---
// Data
import { site } from "../assets/scripts/site";

const { title, description, isHomePage, ogImage } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Secondary Meta Tags -->
<title>
  {title} - {(isHomePage && site.slogan) || site.name}
</title>
<meta name="title" content={title || site.name} />
<meta name="description" content={description || site.slogan} />
<meta name="robots" content="index, follow" />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml" />

<!-- Canonical -->
<link rel="canonical" href={Astro.canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.canonicalURL} />
<meta property="og:title" content={title || site.name} />
<meta property="og:description" content={description || site.slogan} />
<meta property="og:image" content={ogImage || site.ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.canonicalURL} />
<meta property="twitter:title" content={title || site.name} />
<meta property="twitter:description" content={description || site.slogan} />
<meta property="twitter:image" content={ogImage || site.ogImage} />

<!-- Stylesheets -->
<link rel="stylesheet" href="/src/assets/styles/base.css">

<!-- Splitbee Analytics -->
<script data-respect-dnt async src="https://cdn.splitbee.io/sb.js"></script>
