---
const { title, description, date, readingTime } = Astro.props;
---

<div class="p-12 space-y-2 bg-white rounded-sm shadow-md">
  <h3>{title}</h3>
  <p>{description}</p>
  <div class="flex text-sm">
    <p>{date}&nbsp</p>
    <span>-</span>
    <p>&nbsp{readingTime}</p>
  </div>
</div>
