<header class="flex justify-between py-4 okpt-md-container">
  <a href="/" class="text-xl">Okupter</a>
  <nav>
    <ul>
      <li>
        <a href="/" class="active:font-bold active:text-primary">Archives</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  a {
    @apply no-underline;
  }
</style>
