<header class="xl-container flex justify-between py-8">
  <div>
    <a href="/" class="text-gray-900 text-[1.75rem] no-underline">Okupter</a>
  </div>
  <nav class="space-x-4">
    <a href="/">About</a>
    <a href="/">Archives</a>
    <a href="/">Contact</a>
  </nav>
</header>

<style>
  nav a {
    @apply text-base text-gray-700 no-underline;
  }
</style>
