<header class="flex justify-between py-4 okpt-md-container">
  <a href="/" class="text-xl">Okupter</a>
  <nav>
    <ul class="flex space-x-2">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/archives">Archives</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const menuLinks = document.querySelectorAll("nav a");
  const currentUrl = window.location.href;

  menuLinks.forEach((link) => {
    if (link.href === currentUrl) {
      link.classList.add("active");
    }
  });
</script>

<style>
  a {
    @apply no-underline;
  }

  a.active {
    @apply text-primary;
  }
</style>
