<header class="flex justify-between py-8 xl-container">
  <div>
    <a href="/" class="text-gray-900 no-underline text-[1.75rem]">Okupter</a>
  </div>
  <nav class="space-x-4">
    <a href="/">About</a>
    <a href="/">Archives</a>
    <a href="/">Contact</a>
  </nav>
</header>

<style>
  nav a {
    @apply text-base text-gray-700 no-underline;
  }
</style>
