<header class="flex justify-between py-4 okpt-md-container">
  <a href="/" class="text-2xl font-bold">Okupter</a>
  <nav>
    <ul>
      <li>
        <a
          href="/"
          class="active:font-bold hover:text-primary active:text-primary"
          >Archives</a
        >
      </li>
    </ul>
  </nav>
</header>
