---
export interface Props {
    title: string;
    datePublished: Date;
    abstract?: string;
    slug: string;
}

const {
    title,
    datePublished,
    abstract,
    slug,
} = Astro.props as Props;
---

<div class="px-8 py-12 bg-white shadow-sm rounded-sm cursor-pointer">
    <p>{datePublished}</p>
    <h3>
        <a href={`/blog/${slug}`} class="no-underline">{title}</a>
    </h3>
    <p class="small">{abstract}</p>
</div>