---
// Utilities
import { readableDate } from "../assets/scripts/utils";

// Component Imports
import Base from "../layouts/Base.astro";

// Data
const { content } = Astro.props;
---

<Base title={content.title}>
  <article class="py-16 md-container space-y-4">
      <p>{readableDate(content.datePublished)}</p>
      <h1>{content.title}</h1>
      <slot></slot>
  </article>
</Base>
