---
// Utilities
import { readableDate, readingTime } from "../assets/scripts/utils";

// Component Imports
import Base from "../layouts/Base.astro";

// Data
const { content } = Astro.props;
---

<Base title={content.title}>
  <article class="py-16 space-y-4">
    <header class="pb-8">
      <h1 class="font-georgia">{content.title}</h1>
      <p class="extra-small">{readableDate(content.datePublished)} - {readingTime(content.astro.source)} min read</p>
    </header>
    <slot></slot>
  </article>
</Base>
