---
// Utilities
import { readableDate } from "../assets/scripts/utils";

// Component Imports
import Base from "../layouts/Base.astro";

// Data
const { content } = Astro.props;
---

<Base title={content.title}>
    <article class="xl-container py-24">
        <div class="w-8/12">
            <p>{readableDate(content.datePublished)}</p>
            <h1>{content.title}</h1>
            <slot />
        </div>
    </article>
</Base>