---
// Utilities
import { readableDate } from "../assets/scripts/utils";

// Component Imports
import Base from "../layouts/Base.astro";

// Data
const { content } = Astro.props;
---

<Base title={content.title}>
  <article class="py-16 space-y-4">
    <header class="pb-12">
      <p class="extra-small">{readableDate(content.datePublished)}</p>
      <h1 class="font-georgia">{content.title}</h1>
    </header>
    <slot></slot>
  </article>
</Base>
